extends layout/layout.pug

block document-info
	- var pagename = "Index"

block container
	main.posts
		.container
			.row-flex
				section.col.col-pp-50
					.card
						.card__body
							//- img(src='./store/notes/Clickyab-redesign/CY--hero_cover.jpg', alt='')
							h2.card__body-title
								a.card__title(href='./single.html') ارائه؛ طراحی جدید کلیک‌یاب
							.card__body-module
								time
									| جمعه، ۲۵ تیر ۱۳۹۵.
								span  — سیامک مختاری.
							p هفته های آخر اسفند ۹۳ بود که طی صحبت هایی که با نت‌برگ داشتیم به این نتیجه رسیدیم که من پروژه افزونه تحت مرورگر نت‌برگ را طراحی، اجرا و نگهداری کنم. روزهای آخری بود که به شکل رسمی در نت‌برگ بودم و علاقه داشتم کار خوبی از خودم به یادگار بگذارم. قصد داشتم در کمترین زمان ممکن بهترین نتیجه را حاصل کنم. پروژه افزونه تحت مرورگر نت‌برگ در حال حاضر Deal ها را براساس موقعیت و دسته بندی مورد نظر کاربر نمایش می‌دهد. تقریبا چند روزی است که از معرفی اکستنشن کروم نت‌برگ می‌گذره و من قصد دارم در این نوشته آن را از نظر فنی بررسی کنم…
							.clear
								.float-right
									a.button-default(href="#") ادامه...
				section.col.col-pp-50
					.card
						.card__body
							//- img(src='./store/notes/backpack-94/backpack-94@2x.jpg', alt='')
							h2.card__body-title
								a.card__title(href='./single.html') کوله‌پشتی ۹۴
							.card__body-module
								time
									| جمعه، ۲۵ تیر ۱۳۹۵
								span  — سیامک مختاری.
							p سلام. امیدوارم این روزها حالتون خوش باشه و شاد باشید. بهار۹۴ نزدیک و به زودی وارد سال جدیدی میشیم که قراره برامون اتفاقات زیادی بیفته. اتفاقاتی که ممکن است خوب یا بد باشند، مهم اینه که درست زندگی کنیم و از زندگیمون راضی باشیم. اما کوله پشتی۹۴. اول باید تعریف کنم که کوله پشتی چیه. کوله پشتی یک بازی وبلاگی‌ست از امیر مهرانی عزیز، به فرض ما یک کوله پشتی داریم که در آن باید تجربیات و چیز هایی رو قرار بدیم که می‌خواهیم با خودمان به سال جدید ببریم. اصل هدف به اشتراک گذاری تجریبات خوب و بدی است که در طول یک سال گذشته برایمان اتفاق افتاده است. من هم علاقه‌مند بودم که این پست رو بنویسم. پس بزن بریم…
							.clear
								.float-right
									a.button-default(href="#") ادامه...
				section.col.col-pp-50
					.card
						.card__body
							//- img(src='./store/notes/FOWDConf94/FOWD--cover@2x.jpg', alt='')
							h2.card__body-title
								a.card__title(href='./single.html') اولین همایش آینده طراحی وب
							p اولین همایش آینده طراحی وب در دو روز چهارشنبه و پنج‌شنبه ۱۵-۱۶ مهرماه ۱۳۹۴ با محوریت انتقال تجربیات و تخصص برای طراحان و توسعه‌دهندگان Front–End و کسانی که به حوزه توسعه نرم‌افزار های تحت وب علاقه‌مند برگزار می‌شود. در این همایش توسعه‌دهندگان مطرح حوزه وب و کسب و کار حضور دارند و می‌توان مطالب زیادی در این همایش دو روزه بدست آورد. سخنرانانی نظیر امیرعباس عبدالعلی، پرهام باغستانی، شاهو طوفانی، جادی میرمیرانی، مجید علوی‌زاده، شاهین طبری و دیگر دوستان. در همایش امسال قرار است درمورد موضوعاتی پیرامون چالش نیروی انسانی به صورت گروهی بحث شود...
							.card__body-module
								time
									| جمعه، ۲۵ تیر ۱۳۹۵.
								span  — سیامک مختاری.

							.clear
								.float-right
									a.button-default(href="#") ادامه...
				section.col.col-pp-50
					.card
						.card__body
							//- img(src='./store/notes/Hello-World/Hi-world--cover@2x.jpg', alt='')
							h2.card__body-title
								a.card__title(href='./single.html') سلامی از دنیای شخصی من
							p سلام، به اولین پست از بلاگ من خوش آمدید. امیدوارم که دنیاتون پر از شادی و خوشحالی باشه. چند ماهی بود که تصمیم داشتم بلاگ شخصی از نوع خیلی شخصی راه بندازم خیلی شخصی به این خاطر که تمام سعیم را می‌کنم تا در اینجا از کد و مسائل مربوط به اون صحبتی نکنم (!) و فقط از خودم، اطرافم و چیزهایی که ازش رنج می‌برم یا خوشحالم می‌کنند صحبت کنم و مطالبی را به اشتراک بگذارم که وابسته به زندگی شخصیم باشند. می‌خواهم خیلی دوستانه صحبت کنم و دچار قواعد نوشتاری و از این حرف‌ها نشم و در کمال سادگی بنویسم.
							.card__body-module
								time
									| جمعه، ۲۵ تیر ۱۳۹۵.
								span  — سیامک مختاری.

							.clear
								.float-right
									a.button-default(href="#") ادامه...
				section.col.col-pp-50
					.card
						.card__body
							//- img(src='./store/notes/NetBarg-browser-extension/NetBarg-browser-extension--cover@2x.jpg', alt='')
							h2.card__body-title
								a.card__title(href='./single.html') ارائه؛ افزونه تحت مرورگر نت‌برگ
							.card__body-module
								time
									| جمعه، ۲۵ تیر ۱۳۹۵.
								span  — سیامک مختاری.
							p هفته های آخر اسفند ۹۳ بود که طی صحبت هایی که با نت‌برگ داشتیم به این نتیجه رسیدیم که من پروژه افزونه تحت مرورگر نت‌برگ را طراحی، اجرا و نگهداری کنم. روزهای آخری بود که به شکل رسمی در نت‌برگ بودم و علاقه داشتم کار خوبی از خودم به یادگار بگذارم. قصد داشتم در کمترین زمان ممکن بهترین نتیجه را حاصل کنم. پروژه افزونه تحت مرورگر نت‌برگ در حال حاضر Deal ها را براساس موقعیت و دسته بندی مورد نظر کاربر نمایش می‌دهد. تقریبا چند روزی است که از معرفی اکستنشن کروم نت‌برگ می‌گذره و من قصد دارم در این نوشته آن را از نظر فنی بررسی کنم…
							.clear
								.float-right
									a.button-default(href="#") ادامه...
				section.col.col-pp-50
					.card
						.card__body
							//- img(src='./store/notes/RWDConf94/RWD--cover.jpg', alt='')
							h2.card__body-title
								a.card__title(href='./single.html') ارائه؛ طراحی جدید کلیک‌یاب
							p سلام. امیدوارم حالتون خوب و سرحال باشید. چند هفته‌ست از انتشار نسخه جدید کلیک یاب، تبلیغات اینترنتی، می‌گذرد. از ابتدای کار تصمیم داشتم در نوشته‌ای به صورت فنی این پروژه را معرفی کنم. امروز قصد دارم نسخه جدید کلیک یاب که توسط من طراحی و اجرا شده است را بررسی کنم. طی جلساتی که با کلیک یاب داشتم، تصمیم گرفتیم طراحی جدید را من انجام دهم. بعد از گذشت چند جلسه تصمیم گرفتیم نسخه جدید به سبک مینیمال/ساده طراحی شود و به ساده‌ترین در عین حال کامل‌ترین حالت ممکن به بازدید کننده سرویس‌هایی که کلیک یاب ارائه می‌کند را معرفی کنیم...
							.card__body-module
								time
									| جمعه، ۲۵ تیر ۱۳۹۵.
								span  — سیامک مختاری.

							.clear
								.float-right
									a.button-default(href="#") ادامه...


						//- h2.card__body-title
							a(href="#") وبلاگ سیامک مختاری
						//- p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
