---
title: تولدی دیگر
date: June 30, 2016
cover: notes/another-birth/another-birth--cover.jpg
---
p
    | چند هفته پیش تصمیم گرفتم بلاگم رو بعد از چند ماه خاک خوردن دوباره راه بندازم و
    | نوشتن رو شروع کنم. آخرین نوشته من شهریور ۹۴ درباره
    a(href='/blog/fowdconf-94/') همایش آینده طراحی وب
    |  بود. نبودن طولانی مدت من به دو دلیل بر می‌گرده :
    | اول این‌که درگیری زیاد کاری و پروژه هایی که انجام‌شون می‌دادم وقت زیادی ازم
    | می‌گرفتند و فرصتی پیدا نمی‌کردم که به وبلاگم فکر کنم.
    br
    | دوم این‌که برای ساخت بلاگم از Harp.js استفاده می‌کردم که دچار مشکلات زیادی شده بود
    | و در عمل نمیشد چیزی باهاش منتشر کرد.

// more

p
    | بعد از این‌که تصمیم گرفتم شروع کنم به نوشتن با مشکل زیرساخت مواجه شدم و باید
    | مشکلش رو حل می‌کردم ولی تصمیم گرفتم به کل تغییرش بدم. هم دیزاین و هم زیرساخت:
h3(id='دیزاین') دیزاین
p
    | نسخه جدید، مینیمال و با تم رنگی روشن است که سعی می‌کنم فقط نوشته‌ها توش باشن و از
    | چیزهایی مثل رنگ‌ها، عکس‌ها کمترین استفاده رو ببرم. بیشترین زمان برای تایپوگرافی
    | گذشت.
    a(href='http://modularscale.com/') Modular-Scale
    |  و
    a(href='https://drewish.com/tools/vertical-rhythm/') Vertical Rhythm
    |  بودنشون باعث شده تا نوشته‌ها
    | اصلی‌ترین عناصر صفحه باشن و تمرکز کاملا روی نوشته‌ها باشه. از فونت‌ میترا و PT
    | Serif برای نوشته‌ها و از لاله‌زار برای عنوان‌ها استفاده کردم. رنگ‌ آبی
    | استفاده شده، رنگ مورد علاقه این روز های من هست. طراحی و پیاده سازی همزمان باهم
    | بود و زمان جدایی برای دیزاین کردن نگذاشتم.
p
    picture
        img.image--shadow(srcset="/blog/store/notes/another-birth/design.jpg, /blog/store/notes/another-birth/design@2x.jpg 2x", alt="تایپوگرافی")
        span.caption(dir="ltr") Modular-Scale + Vertical-rhythm = Strong Typography.

h3(id='زیر-ساخت') زیر ساخت
p
    | بالاتر گفتم که در نسخه قدیمی از Harp.js استفاده می‌کردم. از تجربه کار با Harp.js
    | اگر بخوام بنویسم. این هست که اولین پکیج
    code static generator
    |  با Node.js بود و وقتی
    | من نسخه قبل رو میخواستم درست کنم جز هارپ انتخاب دیگه‌ای نداشتم. ساختار پکیج
    | محدودیت های زیادی داره و هرکاری (پلاگین نوشتن) نمیزاره باهاش انجام بدی. در نسخه
    | جدید به Hexo.js مهاجرت کردم. پکیجی که بیس‌ش رو نود هست و ماژولار نوشته شده و میشه
    | باهاش هرکاری کرد و پلاگین‌های خوبی برای توسعه دادند و کار کردن باهاش سخت نیست. از
    | نظر امکانات و API ها میشه گفت وردپرس در دنیای استاتیک.
p
    | کل کار یعنی طراحی و پیاده سازی اولیه و ترجمه به قالب hexo تقریبا ۴۰ ساعت (حقیقی)
    | زمان برد. سعی می‌کنم بزودی تمی که نوشتم رو به صورت اپن‌سورس در گیت‌هابم منتشر کنم
    | تا کسایی که لازمش دارن، ازش استفاده کنن.
h3(id='اتفاقی-که-گذشت') اتفاقی که گذشت
p
    | تو این مدتی که نبودم اتفاقات زیادی افتاد و کارهایی زیادی انجام شد. یکی از این
    | کار ها نسخه جدید
    a(href='http://zarinpal.com') زرین‌پال
    |  که ۰۴ بهمن ۹۴ منتشر شد و تا الان
    | به نتایجی که مد نظرش  بوده رسیده و در نهایت موفق شده. درباره پروسه طراحی و پیاده‌سازی
    | زرین‌پال تصمیم دارم مقاله‌ای بنویسم و بزودی همین‌جا منتشرش می‌کنم. نسخه جدید
    a(href='http://snapp.ir')
        | وب‌سایت اسنپ
    |  هم چند هفته پیش منتشر شد که اون هم ۲ ماه زمان برد.
    | اتفاق بعدی گواهینامه و رانندگی یاد گرفتن بود که تا الان ۷ ماه ازش میگذره. از
    | وقتی که گواهینامه گرفتم خیلی خیلی کم با تاکسی یا اسنپ جایی میرم چون رانندگی کردن
    | رو دوست دارم (حتی با ترافیک‌های وحشتناک تهران!)
    br
    | هفته پیش مصاحبه من درباره خودم و کارهایی که کردم با دوستان سایت ۹۰تم منتشر شد
    | که می‌تونید از
    a(href='http://90theme.ir/siamak/') لینک
    |  گوش کنید.
p
    | امیدوارم وقت کنم و زود به زود بیام و بنویسم.
    br
    | شاد باشید،
    br
    | سیامک مختاری – تابستان، تیر ۱۳۹۵.
