---
title: اولین همایش آینده طراحی وب
date: August 28, 2015
cover: notes/FOWDConf94/FOWD--cover@2x.jpg
ratio: 50.78
---
p
	a(href="http://conf.wsschool.org/fowd/", target="_blank") اولین همایش آینده طراحی وب
	|   در دو روز چهارشنبه و پنج‌شنبه ۱۵-۱۶ مهرماه ۱۳۹۴ با محوریت انتقال تجربیات و تخصص برای طراحان و توسعه‌دهندگان Front–End و کسانی که به حوزه توسعه نرم‌افزار های تحت وب علاقه‌مند برگزار می‌شود. در این همایش توسعه‌دهندگان مطرح حوزه وب و کسب و کار حضور دارند و می‌توان مطالب خوبی در این همایش دو روزه بدست آورد. سخنرانانی نظیر
	a(href="https://twitter.com/amir_abbas", target="_blank") امیرعباس عبدالعلی
	| ،
	a(href="http://twitter.com/parhamb", target="_blank") پرهام باغستانی
	| ،
	a(href="http://twitter.com/shaho", target="_blank") شاهو طوفانی
	| ،
	a(href="http://twitter.com/jadi", target="_blank") جادی میرمیرانی
	| ،
	a(href="http://twitter.com/majidalavizadeh", target="_blank") مجید علوی‌زاده
	| ،
	a(href="http://twitter.com/shatobery", target="_blank") شاهین طبری
	|  و
	a(href="http://conf.wsschool.org/fowd/#speakers", target="_blank") دیگر دوستان
	| در همایش امسال قرار است درمورد موضوعاتی پیرامون چالش نیروی انسانی به صورت گروهی بحث شود. این همایش توسط
	a(href="http://wsschool.org/", target="_blank") مدرسه استاندارد های وب
	|  و
	a(href="http://majidonline.com", target="_blank") مجید آنلاین
	|  برگزار می‌شود.

// more

p طراحی و اجرا وب‌سایت اولین همایش آینده طراحی وب با افتخار کار من بوده است. در مورد اتفاق‌ها و کارهایی که بر روی این سایت انجام داده‌ام در آینده نزدیک صحبت خواهم کرد.

p
	| برای شرکت در همایش باید بلیط خودتان را تهیه کنید. تا قبل از ۱۰ شهریور ثبت نام کنید، از تخفیف برخوردار خواهید شد.
	a(href="http://conf.wsschool.org/fowd/#ticket", target="_blank") ثبت نام در همایش.
	br
	| همایش در مرکز همایش های شهید قندی برگزار خواهد شد. امید است همایش خوبی در پیش داشته باشیم.
p
	| به امید دیدار،
	br
	| سیامک مختاری – تابستان، شهریور ۱۳۹۴.
