header.header
	.container
		.row-flex.items-center-v
			section.col.col-pp-15
				a.siamak(href="./")
					img(src='./hello/images/siamak.svg', alt='Siamak Mokhtari')

			nav.col.col-pp-85
				.nav--links
					a.nav--links_item(href="./notes/") بلاگ
					a.nav--links_item(href="http://github.com/siamak", target="_blank") گیت‌هاب
					a.nav--links_item(href="http://twitter.com/sia_mac", target="_blank") توییتر
					a.nav--links_item(href="https://www.linkedin.com/in/siamakmokhtari", target="_blank") لینکدین
					a.nav--links_item(href="mailto:hi@siamak.work", target="_self") تماس
